name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 08:00 UTC+8 every day
    - cron: "0 * * * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.blog }}
